html{
    min-height: 100vh;
    position: relative;
}

body{
    height: 100vh;
}

#contentApp{
    height: 100vh;
}
#mainContent{
    background: linear-gradient(to top,  #f6f6f6 0%,#f6f6f6 80%, #e2ecf1 80%,#e2ecf1 100%);
}
#containerSearchInputs{
    background: white;
}
#btnSearchInputGroup{
    padding-right: 0.5em;
}
.col-2{
    padding-left: 5em;
}